@font-face {
    font-family: "CloudKaiXingGBK";
    src: url("CloudKaiXingGBK.eot"); /* IE9 */
    src: url("CloudKaiXingGBK.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("CloudKaiXingGBK.woff") format("woff"), /* chrome、firefox */
    url("CloudKaiXingGBK.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("CloudKaiXingGBK.svg#CloudKaiXingGBK") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


