
@media screen and (min-width:1101px) {
    .background {
        background-size: cover
    }
    html {
        font-size: 16px
    }
    li {
        display: inline;
        list-style: none;
        width: auto;
        text-align: center
    }
    div.contain {
        writing-mode: vertical-rl;
        position: fixed;
        display: flex;
        display: -webkit-flex;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0 0 1.5rem 0;
        animation-duration: 3s;
        animation-name: slideinLg;
    }
    div.contain div:first-child {
        max-width: 5rem;
        min-height: 5rem;
        border-radius: 5rem;
        -webkit-border-radius: 5rem;
        -moz-border-radius: 5rem;
        background: url(../blog/avatar/head.png) no-repeat;
        background-position: center;
        background-size: cover;
        box-shadow: 0 0 9px rgba(255, 255, 255, .8);
        -webkit-box-shadow: 0 0 9px rgba(255, 255, 255, .8);
        -moz-box-shadow: 0 0 9px rgba(255, 255, 255, .8);
        margin: 2rem
    }
}

@media screen and (max-width:1100px) and (min-width:851px) {
    .background {
        background-size: cover
    }
    html {
        font-size: 30px
    }
    li {
        list-style: none;
        text-align: left
    }
    ins {
        display: none
    }
    div.contain div:first-child {
        display: none
    }
    div.contain {
        top: 50vh;
        transform: translateY(-50%);
        position: relative;
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        min-width: 850px;
        z-index: 10;
        overflow: auto;
        animation-duration: 3s;
        animation-name: slideinMid;
    }
}

@media screen and (max-width:850px) {
    .background {
        background-size: cover
    }
    html {
        font-size: 14px
    }
    li {
        list-style: none;
        text-align: left
    }
    div.contain {
        writing-mode: vertical-rl;
        position: fixed;
        display: flex;
        display: -webkit-flex;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        padding: 2.5rem 2rem;
        animation-duration: 3s;
        animation-name: slideinSm;
    }
    div.contain div:first-child,
    ins {
        display: none
    }
}

::-webkit-scrollbar {
    display: none;
}

.hide {
    opacity: 0 !important
}

.bold {
    font-weight: bold;
}

.rl {
    writing-mode: vertical-rl;
}

.hover {
    color: #FF5662 !important
}

.speedup {
    transition: 0.12s ease-out !important
}

* {
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body,
.background {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: .25rem solid black !important
}

.background {
    transition: all 1s ease-out;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1
}

div.contain div:last-child {
    margin: 0 2.5rem;
    font-family: "Vollkorn","EBGaramond12", "SimSun", "Mate", serif;
    font-size: 2rem;
    text-shadow: 0 0 12px rgba(255, 255, 255, .8)
}

a {
    color: black;
    text-decoration: none;
    transition: color 1s ease-out;
    line-height: 1.5;
}

ins {
    text-decoration: none;
    color: #5CBED6;
    margin: 0 0.4rem
}

a.sign {
    font-family: "CloudKaiXingGBK";
    /* font-family: "SentyZHAO"; */
    font-size: 2.6rem;
    letter-spacing: .05em;
    font-weight: 400
}

li.link {
    font-style: italic;
    font-size: 1.5rem;
}

.slash{
    margin: 0.7rem 0 0 0
}

@keyframes slideinLg {
  from {
    margin-left: 20%;
    opacity: 0;
  }

  to {
    margin-left: 0%;
    opacity: 1;
  }
}

@keyframes slideinMid {
  from {
    margin-right: -10%;
    opacity: 0;
  }

  to {
    margin-right: 0%;
    opacity: 1;
  }
}

@keyframes slideinSm {
  from {
    margin-top: -40%;
    opacity: 0;
  }

  to {
    margin-top: 0%;
    opacity: 1;
  }
}

