@media screen and (min-width:1301px) {
   
    .title{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .title h1{
        text-align: right;
        width: 100%;
        padding: 5rem;
        font-size: 5rem;
    }

    .title .cate-ul{
        padding: 1rem 10rem 1rem 0;
        width: 100%;
    }

    .title .cate-ul a{
        font-size: 2.5rem;
    }

    .sign a{
        font-size: 3.5rem;
    }

    #date{
        font-size: 2rem;
    }

    #description{
        font-size: 1.7rem;
        padding-left: 1.5rem;
    }
}


@media screen and (max-width:1300px) and (min-width:801px) {

    .cate-card {
        position: relative;
    }
    
       
    .title{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .title h1{
        text-align: left;
        /* writing-mode: vertical-rl; */
        width: 100%;
        padding: 3rem;
        max-width: 30rem;
        font-size: 4.5rem;

        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    .title .cate-ul{
        position: relative;
        max-width: 70rem;
    }

    .title .cate-ul a{
        font-size: 2.5rem;
    }

    #project-output{
        width: 75%;
        margin: auto;
    }

    .sign a{
        font-size: 3rem;
    }

    #date{
        font-size: 2rem;
    }

    #description{
        font-size: 1.7rem;
        padding-left: 1.5rem;
    }
}
 
@media screen and (max-width:800px) {

    .cate-card{
        margin: 1rem 1rem;
    }

    .title h1{
        padding: 2rem 0.5rem 0 0.5rem; 
        font-size: 3rem;
    }

    .title .cate-ul a{
        font-size: 2rem;
    }

    .sign a{
        font-size: 2rem;
    }

    #date{
        font-size: 1.8rem;
    }

    #description{
        font-size: 1.5rem;
        padding-left: 0rem;
    }
}

#project-output{
    margin: 2rem 0 0 0;
    width: 100%;
}

.title h1{
color: black;
}

.cate-card {
margin: 1.5rem;
}

.title .cate-ul{
list-style: none;
margin: 0;

}

.title .cate-ul a{
line-height: 1.2;
text-decoration: none;
color: black;
}

.sign {
    position: fixed;
    writing-mode: vertical-rl;
    bottom: 0;
    margin: 3rem;
    right: 0;
    text-align: right;
    z-index: 1000;
}

.sign a{
    text-decoration: none;
    color: black;
    opacity: 0.4;
}

b{
    font-weight: bold;
}

#date{
    font-style: italic;
    color: gray;
    opacity: 0.7;
}

#title{
    margin: 2rem 0rem 0rem 0rem;
}

#resume{
    color: #FF5662 !important;
    text-align: right;
    opacity: 1;
    font-weight: bold;
}

.sign a:hover{
    transition: all 0.5s ease-out;
    opacity: 1;
}

#description:hover{
    transition: all 0.5s ease-out;
    color: #FF5662;
}